/node_modules
/Documents/NetBeansProjects/TicTacToe/nbproject/private/
/Documents/NetBeansProjects/TicTacToe/build/
/Documents/NetBeansProjects/button/nbproject/private/
/Desktop/JavaApplication3/nbproject/private/
/Desktop/java_HW2/nbproject/private/
/Desktop/java_HW2/build/
/Desktop/hw2/nbproject/private/
/Desktop/hw2/build/
/Documents/NetBeansProjects/button/build/