<head>
  <style type="text/css">
    #container:after {
      content: "";
      display: table;
      clear: both;
    }
    #left {
      float: left;
      width: 15%;
    }
    #right {
      float: right;
      width: 85%;
    }
  </style>    
</head>
<header>
    <title>Chart</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</header>
<body>
<svg id="chart" style="border:solid 1px  black"></svg>
<p
  text-anchor="middle"
  alignment-baseline="central"
  style="
        font-size: 18;
        font-family: arial;
        margin-bottom: 0em;
        "
>
</div>
</body>
<script type="text/x-handlebars-template">
{{code}}
</script>